:root {
    font-size: 62.5%;
}

.home-img{
  background-image: url("../assets/pexels-photo-238783.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.side-bar{
    background-color: black;
    opacity: 0.35;
    max-width: 120px;
    height: 100vh;
}

.logo {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    width: 80%;
    margin: 30px auto;
    border-radius: 5px;
}

.nav {
    flex-direction: column;
    padding-top: 0px;
    height: 400px;
    justify-content: space-evenly;
    align-items: center; 
}

.nav-icon {
    color: white;
    font-size: 2.5rem;
}

.nav-icon:hover {
    color: #747070;
}

.profile-img {
    display: inline-block;
    width: 15%;
    height: auto;
    border-radius: 70%;
    margin: 30px 50px 40px 70px;
}

.about-me {
    color: #ffffff;
    letter-spacing: 1.3rem;
    font-size: 1.8rem;
    margin: 0rem 0rem 2rem 7.4rem;
}

.about-me-title {
    color: #ffffff;
    font-size: 4rem;
    font-weight: bold;
    margin-left: 70px;
}

.about-me-content {
    color: #ffffff;
    margin: 3rem 0rem 2rem 7.3rem;
    width: 50%;
    font-size: 2rem;
}

.social-icons {
    display: inline-block;
    float: right;
    margin-top: 20px;
    color: #615e5e; /*#504e4e*/
    font-size: 3rem;
}

.social-icons:hover {
    color: gray;
}

.fab {
    margin: 0 15px;
}

/* .top-charts {
    margin: 4rem;
    justify-content: center;
}

.bottom-charts {
    margin: 4rem;
    justify-content: center;
} */


.box {
    height: 280px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gray-box {
    height: 280px;
    background-color: rgb(241, 236, 227);
}

.js {
    max-width: 45%;
    height: 60%;
}

.html {
    max-width: 45%;
    height: 60%;
}

.css {
  max-width: 55%;
  height: 72%;
}

.react {
    max-width: 45%;
    height: 60%;
}

.mongo {
    max-width: 60%;
    height: 50%;
}

.node {
    max-width: 65%;
}

.projects {
    background-image: url('../assets/subtle_background-pattern.jpg');
}

.laptop {
    /* width: 75%; */
    width: 25%; 
    height: 85%; 
    margin-top: 20px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.project-container {
    background-image: url('../assets/subtle_background-pattern.jpg');
}

.project-info {
    width: 60%;
    margin: 30px 0px 0px 20px;
}

.project {
    display: flex;
    justify-content: space-between;
    height: 240px;
    border: 1px solid lightgray;
    margin: 20px auto;
    box-shadow: 5px 3px 5px 5px rgb(153, 151, 151);
    background-color: white;
}
